extends layout

block content
  h1= title
  p Welcome to the candy shop. Here's a sample of a lollipop. Try everything, don't you stop. Keep going until you hit the spot.

  h1 Drop down for the candy shop a.k.a sweet shop 
  
  //Change this page to talk about the history of the Candy Shop

  a(href='/products') Products
  |&nbsp 
  a(href='/categories') Categories 
  |&nbsp 
  a(href='/manufacturers') Manufacturers

